@model GIF.Domain.IFoodTotalOrderDTO

<form method="post">
    <div class="row">
        <div class="offset-1 col-10">
            <b>O que é Bearer Token?</b>&nbsp;
            <div class="form-group">
                <div class="input-group">
                    <input type="button" data-toggle="modal" data-target="#modalToken" class="btn btn-outline-primary" value="Como pegar o Bearer Token?" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-10">
            <b>Bearer Token</b>&nbsp;
            <div class="input-group">
                <input type="text" class="form-control" name="bearerToken" id="bearerToken" placeholder="eyJraWQiOiJiNjRjNjZmZS00ZWY..." value="@Model.Bearer">
                &nbsp;
                <span class="input-group-btn">
                    <button class="btn btn-outline-danger" type="submit">Bora!</button>
                </span>
            </div>
        </div>
    </div>
</form>
<div class="modal fade bd-example-modal-lg" id="modalToken" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Como pegar o Bearer Token</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/bJ4a88tPHcY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

@if (Model.OrderCount > 0)
{
    <br>
    <div class="row">
        <div class="offset-3 col-6 alert alert-warning text-center">
            <h2>Total Pedidos</h2>
            <h1><b>@Model.OrderCount</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="offset-3 col-6 alert alert-danger text-center">
            <h2>Total Gasto</h2>
            <h1><b>@((Model.Price / 100m).ToString("c"))</b></h1>
        </div>
    </div>

    <div class="row">
        <div class="offset-1 col-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Mês</th>
                        <th scope="col">Pedidos</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var orderByMouth in Model.IFoodTotalByMonthOrders)
                    {
                        <tr>
                            <th>@orderByMouth.Month</th>
                            <th>@orderByMouth.OrderCount</th>
                            <th>@((orderByMouth.Price / 100m).ToString("c"))</th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <style>
        th {
            text-align: center;
        }
    </style>
}
