@using System.Globalization;
@model GIF.Domain.IFoodTotalOrderDTO

<form method="post">
    <div class="row">
        <div class="offset-1 col-10">
            <b>O que é Bearer Token?</b>&nbsp;
            <div class="form-group">
                <div class="input-group">
                    <input type="button" data-toggle="modal" data-target="#modalToken" class="btn btn-outline-primary" value="Como pegar o Bearer Token?" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-10">
            <b>Bearer Token</b>&nbsp;
            <div class="input-group">
                <input type="text" class="form-control" name="bearerToken" id="bearerToken" placeholder="eyJraWQiOiJiNjRjNjZmZS00ZWY..." value="@Model.Bearer">
                &nbsp;
                <span class="input-group-btn">
                    <button class="btn btn-outline-danger" type="submit">Bora!</button>
                </span>
            </div>
        </div>
    </div>
</form>
<div class="modal fade bd-example-modal-lg" id="modalToken" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Como pegar o Bearer Token</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/bJ4a88tPHcY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

@if (Model.OrderCount > 0)
{
    <br>
    <div class="row">
        <div class="offset-3 col-6 alert alert-warning text-center">
            <h2>Total Pedidos</h2>
            <h1><b>@Model.OrderCount</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="offset-3 col-6 alert alert-danger text-center">
            <h2>Total Gasto</h2>
            <h1><b>@((Model.Price / 100m).ToString("C", CultureInfo.GetCultureInfo("pt-BR")))</b></h1>
        </div>
    </div>

    <div class="row">
        <div class="offset-1 col-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Mês</th>
                        <th scope="col">Pedidos</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var orderByMouth in Model.IFoodTotalByMonthOrders)
                    {
                        <tr>
                            <th>@orderByMouth.Month</th>
                            <th>@orderByMouth.OrderCount</th>
                            <th>@((orderByMouth.Price / 100m).ToString("C", CultureInfo.GetCultureInfo("pt-BR")))</th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <style>
        th {
            text-align: center;
        }
    </style>
}
else
{
    @if ((bool)@ViewData["ShowNoOrders"])
    {
        <br />
        <div class="row">
            <div class="offset-1 col-10">
                <div class="container text-center">
                    <h5>Nenhum pedido encontrado ou o Bearer Token informado é inválido!</h5>
                </div>
            </div>
        </div>
    }
}
<div id="loading-overlay">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<style>
    #loading-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999; /* Ensure it's on top */
    }

        #loading-overlay .spinner-border {
            width: 3rem;
            height: 3rem;
        }
</style>
<script>
    window.addEventListener('load', function () {
        document.getElementById('loading-overlay').style.display = 'none';
    });

    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        const submitButton = form.querySelector('button[type="submit"]');

        form.addEventListener('submit', function (event) {
            // Exibe o overlay de loading
            document.getElementById('loading-overlay').style.display = 'flex';

            // Coloca o input como readonly em vez de disabled
            const bearerTokenInput = document.getElementById('bearerToken');
            bearerTokenInput.readOnly = true;

            // Desabilita o botão de envio
            submitButton.disabled = true;
        });
    });
</script>


